<template>
  <div>  
    <p v-if="!commentsList.length">
        <button class="btn primary" @click="$emit('load-comments')">Загрузить комментарии</button>
      </p>
    <div v-else class="card">
        <h2>Комментарии</h2>
        <ul class="list">
          <li class="list-item" v-for="comment in commentsList" :key="comment.id">
            <div>
              <p><strong>{{comment.email}}</strong></p>
              <small>{{comment.text}}</small>
            </div>
          </li>
        </ul>
      </div>
  </div>
</template>

<script>
export default {
    emits:['load-commetns'],
    props:['commentsList'],
}
</script>