<template>
  <form class="card card-w30" @submit.prevent="handleSubmit">
        <div class="form-control">
          <label for="type">Тип блока</label>
          <select id="type" v-model="resumeType">
            <option value="title">Title</option>
            <option value="subtitle">Subtitle</option>
            <option value="avatar">Avatar</option>
            <option value="text">Text</option>
          </select>
        </div>

        <div class="form-control">
          <label for="value">Значение</label>
          <textarea id="value" rows="3" v-model="resumeText"></textarea>
        </div>

        <button class="btn primary" type="submit" :disabled="is_valid">Добавить</button>
    </form>
</template>

<script>

export default {
    emits:['add-block'],
    data() {
        return {
          resumeType: 'title',  
          resumeText: ''   
        }
    },
    methods:{
      handleSubmit(){
          this.$emit('add-block', {
              type: this.resumeType,
              text: this.resumeText
          })
          this.resumeType =  'title'  
          this.resumeText =  ''
      }  
    },
    computed:{
        is_valid(){
            return this.resumeText.length < 3
        }
    }
}
</script>