<template>
  <div>
    <div class="container column">
      
      <resume-form @add-block="block_handler"></resume-form>

      <div class="card card-w70">

        <div v-if="resumeData.length > 0" v-for="item in resumeData" :key="item">
            <component :is="'resume-block-' + item.type" v-bind="{value: item.text}"></component>
        </div>
        
        <h3 v-else>Add some block</h3>
      
      </div>
    </div>
    <div class="container">
    
      <comments  @load-comments="loadComments"  :commentsList="comments_list"></comments>
      
      <loader v-if="is_loader"></loader>
    </div>
  </div>  
</template>

<script>

import axios from 'axios'

import ResumeBlockTitle from './components/ResumeBlockTitle.vue'
import ResumeBlockSubtitle from './components/ResumeBlockSubtitle.vue'
import ResumeBlockAvatar from './components/ResumeBlockAvatar.vue'
import ResumeBlockText from './components/ResumeBlockText.vue'
import Loader from './components/Loader.vue'
import Comments from './components/Comments.vue'
import ResumeForm from './components/ResumeForm.vue'

export default {
  
  

  data(){
    return {
      resumeData: [],
      comments_list: [],
      is_loader: false,
      is_load_comment: false,
    }
  },
  methods:{
    block_handler(form_data){
      
      this.resumeData.push(form_data)
      
    },
     async loadComments(){
       this.is_load_comment = true
       this.is_loader = true

       const {data} = await axios.get('https://jsonplaceholder.typicode.com/comments?_limit=42')
       this.comments_list = Object.keys(data).map(key => {
        return { id: data[key].postId,
                email: data[key].email,
                text: data[key].body,
        }
       })
       
      
       this.is_loader = false
    },
    async saveResume(data){
      const response = await axios.post("https://vue-resume-c18d5-default-rtdb.europe-west1.firebasedatabase.app/resume.json", data=JSON.stringify(data))

    },
    async getResume(){
      const {data} = await axios.get("https://vue-resume-c18d5-default-rtdb.europe-west1.firebasedatabase.app/resume.json")
      if (data){
        this.resumeData =  Object.keys(data).map(key => {
        return {type: data[key][0].type,
                text: data[key][0].text}
      })
      }
      
    }
  },
  components: {
    ResumeBlockTitle,
    ResumeBlockSubtitle,
    ResumeBlockAvatar,
    ResumeBlockText,
    Loader,
    Comments,
    ResumeForm
  }

}
</script>

<style>
  .avatar {
    display: flex;
    justify-content: center;
  }

  .avatar img {
    width: 150px;
    height: auto;
    border-radius: 50%;
  }
</style>